@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Josefin+Sans");

html, body {
  /* height: 1080px; */
}

body {
  margin: 0;
  /* font-family: "Gloria Hallelujah", cursive; */
  font-family: "Josefin Sans", sans-serif;
  background-image: url("background.jpg");
  height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}